#root {
  max-width: 500px;
  width: 100vw;
  /* Full width of the viewport */
  height: 100vh;
  /* Full height of the viewport */
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url('./assets/background.png');
  /* Replace with the actual path */
  background-size: cover;
  /* Ensures the image covers the entire area */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button-image-container {
  position: relative;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
}

.image-button {
  position: absolute;
  bottom: 100px;
  /* 100px from the bottom */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  width: calc(100% - 32px);
  /* Horizontal 16px margin on both sides */
  max-width: 358px;
  /* Optional: limit max width for responsive design */
  height: 56px;
  /* Button height */
  background: none;
  /* Remove default button styles */
  border: none;
  /* Remove border */
  padding: 0;
  cursor: pointer;
  background-image: url('./assets/primary_button.svg');
  display: flex;
  /* Enable flexbox */
  justify-content: center;
  /* Center text horizontally */
  align-items: center;
  /* Center text vertically */
  color: #FAFAFA;
  /* White text color */
  font-family: 'Press Start 2P', sans-serif;
  /* Apply the font */
  font-size: 16px;
  /* Adjust font size */
  text-transform: uppercase;
  /* Make text uppercase */
  text-align: center;
}