body {
  user-select: none;
  /* Prevents text selection */
  -webkit-user-select: none;
  /* For Safari */
  -moz-user-select: none;
  /* For Firefox */
  -ms-user-select: none;
  /* For IE/Edge */
}

#root {
  max-width: 500px;
  width: 100vw;
  /* Full width of the viewport */
  height: 100vh;
  /* Full height of the viewport */
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url('./assets/background.png');
  /* Replace with the actual path */
  background-size: cover;
  /* Ensures the image covers the entire area */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.image-button {
  pointer-events: auto;
  /* Enable pointer events */

  position: absolute;
  bottom: 64px;
  /* 100px from the bottom */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  width: calc(100% - 32px);
  /* Horizontal 16px margin on both sides */
  max-width: 358px;
  /* Optional: limit max width for responsive design */
  height: 56px;
  /* Button height */
  background: none;
  /* Remove default button styles */
  border: none;
  /* Remove border */
  padding: 0;
  cursor: pointer;
  background-image: url('./assets/primary_button.svg');
  display: flex;
  /* Enable flexbox */
  justify-content: center;
  /* Center text horizontally */
  align-items: center;
  /* Center text vertically */
  color: #FAFAFA;
  /* White text color */
  font-family: 'Press Start 2P', sans-serif;
  /* Apply the font */
  font-size: 16px;
  /* Adjust font size */
  text-transform: uppercase;
  /* Make text uppercase */
  text-align: center;
  z-index: 10;
  /* Ensure the button is above other elements */
}

.text-container {
  position: relative;
  width: 100%;
  /* Full width of the container */
  height: 100vh;
  /* Full height of the viewport */
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.description {
  position: absolute;
  /* Ensure positioning works with left and top */
  left: 16px;
  /* Position 16px from the left */
  top: 65px;
  /* Position 65px from the top */
  width: 75%;
  /* Adjust as needed for layout */
  height: auto;
  /* Dynamically adjusts to text content */
  padding: 16px;
  /* Add padding around the text */
  font-family: 'Press Start 2P', sans-serif;
  /* Ensure the font is loaded */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 132%;
  /* Adjust for proper spacing */
  color: #FAFAFA;
  text-align: justify;

  /* Background Image */
  background: url('./assets/text_background.svg') no-repeat center center;
  background-size: cover;
}